body {
	/* background-image: url('../assets/bgimage.png'); */
  background-image: linear-gradient(to right, #4ba63f, #f8e1e1);

	background-size: cover;
	color: #333; /* set the default font color */
}
.animation {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function: ease-out;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}


@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  
  to {
    opacity: 1;
    transform: translateX(0);
  }
}